{% extends "base.html" %}
{% block content %}
<h2>Estudo de Flashcards</h2>

{% if cards %}
    {% for card in cards %}
        <div class="flashcard">
            <p><b>Pergunta:</b> {{ card.frente }}</p>
            <details>
                <summary>Mostrar Resposta</summary>
                <p>{{ card.verso }}</p>
            </details>
        </div>
    {% endfor %}
{% else %}
    <p>Você não tem flashcards para estudar.</p>
{% endif %}

<p class="links"><a href="{{ url_for('home') }}">← Voltar</a></p>
{% endblock %}
