{% extends "base.html" %}
{% block content %}
<h2>Resetar Senha</h2>
{% if erro %}<p class="erro">{{ erro }}</p>{% endif %}

<form method="POST" class="formulario">
    <label>Nome:</label>
    <input type="text" name="nome" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Nova senha:</label>
    <input type="password" name="senha" required>

    <button type="submit">Alterar Senha</button>
</form>

<p class="links"><a href="{{ url_for('login') }}">← Voltar para login</a></p>
{% endblock %}
